

.logo {
    width: 40%;
}

header {
    display: flex;
    justify-content: center;
    background: url("./cropped_tape_player.jpg");
    background-size: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
}

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    margin: 0.7rem;
}

#navbar a {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.mixtape-name {
    position: absolute;
    margin-top: 4.5%;
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
}

.homepage {
    position: sticky;
    top:60%;
    text-align: right;
}

main {
    display: flex;
    justify-content: center;
}

.mixtape {
    border: solid black;
    width: 50%;
    border-left: none;
    text-align: center;
    padding: 1rem;
}

.view-songs {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.this-mixtapes-songs {
    height: 15rem;
    width: 20rem;
    border: 0.5rem solid #d42c27;
    overflow: auto;
    display: inline-block;
}


.song-search {
    width: 15rem
}


.song-container {
    border: solid black;
    width: 50%;
    text-align: center;
    padding: 3.5rem;
}

.song-title {
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

.all-songs{
    display: inline-block;
}

.song-name {
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

.search-label {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
