.not-found{
    display: none;
}

.song-search {
    width: 15rem
}



.song-container {
    display: block;
    justify-content: center;
}

.song-list {
    list-style: none;
}

.home-button {
    position: absolute;
    right: 10%;
}